.Notepad {
    font-family: Arial, sans-serif;
}

.Notepad-body {
    width: 90%;
    max-width: 50rem;
    height: 70vh;
    max-height: 450px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 20px;
    right: 60px;
    overflow: hidden;
    transition: all 0.3s ease;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.Notepad-judul input {
    width: 60%;
    max-width: 800px;
    height: 10vh;
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    font-size: 1.3em;
    text-align: left;
    color: #000000;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 100px;
}

.Notepad-isi textarea {
    width: 160%;
    max-width: 160%;
    margin-top: 30px;
    height: 30vh;
    border: none;
    background: transparent;
    font-size: 2.5em;
    text-align: left;
    color: #000000;
    padding-top: 10px;
    padding-left: 20px;
    resize: none;
}

.Notepad-judul,
.Notepad-isi {
    flex-basis: 100%;
}

.Notepad-body input:hover,
.Notepad-body input:focus {
    border: none;
    color: black;
}

/* Aturan CSS untuk layar kecil (misalnya, ponsel) */
@media screen and (max-width: 768px) {
    .Notepad-body {
        width: 80%;
        height: 60%;
        bottom: 5px;
        right: 5px;
    }

    .Notepad-judul input {
        width: 100%;
        padding-left: 10px;
    }

    .button-notepad {
        margin: 5px;
    }

    .button-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .simpan {
        right: 2vw;
        top: 50vh;
    }
}

@media screen and (min-width: 769px) {
    .Notepad-body {
        width: 90%;
        height: 70vh;
        bottom: 20px;
        right: 60px;
    }

    .Notepad-judul input {
        width: 60%;
        padding-left: 25px;
    }

    .button-notepad {
        margin: 20px 25px;
    }

    .button-text {
        flex-direction: row;
        align-items: center;
    }

    .simpan {
        right: 5vw;
        top: 58vh;
    }
}
.Notepad-body.maximized {
    width: 90%;
    height: 70vh;
    position: relative;
}

.Notepad-body.minimized {
    width: 100%;
    height: 50px;
}

.Notepad-body.fullscreen {
    width: 82rem;
    height: 45rem;
    position: relative;
    top: 10px;
    left: 40px;
}

.button-notepad-minimized {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 2vh;
    right: 2vw;
    margin: 0px;
    border: 1px solid #ccc;
    background-color: rgb(246, 245, 245);
    border-radius: 20px;
    padding: 10px 10px;
}

.button-notepad-minimized button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 194, 200);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0px 0px;
    transition: background-color 0.3s ease;
    width: 28px;
    height: 28px;
    margin: 0 10px;
    font-size: 18px;
}
.button-notepad {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 2vh; /* Mengubah piksel menjadi vh */
    right: 2vw; /* Mengubah piksel menjadi vw */
    margin: 20px 25px;
    border: 1px solid #ccc;
    background-color: rgb(246, 245, 245);
    border-radius: 20px;
    padding: 10px 10px;
}

.button-notepad button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 194, 200);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0px 0px;
    transition: background-color 0.3s ease;
    width: 28px;
    height: 28px;
    margin: 0 10px;
    font-size: 18px;
}
.button-notepad button:hover {
    background-color: #e0e0e0;
}

.button-notepad button:active {
    background-color: #d0d0d0;
}

.notepad-header {
    background-color: #f0f0f0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: move;
}

.title-bar {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.window-controls button {
    background: none;
    border: none;
    cursor: pointer;
}

.notepad-content {
    padding: 10px;
}

.maximized {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0;
}

.button-text {
    margin-left: 2%;
    border-color: transparent transparent transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8%;
    flex-wrap: nowrap;
    width: 50%;
    max-width: 90%;
    height: 20vh;
}

.button-text button,
.button-text .dropdown {
    margin-right: 0px;
    flex: 1 1 auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none; /* Menghapus semua border */
    border-radius: 0%;
    font-size: 13px;
}

.button-text .add-image {
    border-radius: 10%;
    border: none;
}
.button-text .custom-form-control {
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0 !important;
    width: 15vh;
    font-size: 0.7em;
    padding: 2;
    appearance: auto;
}

.button-text .custom-form-control select {
    width: 10px;
    justify-content: center;
}
.change-case {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    align-self: center;
}

.change-case .form-group {
    margin-right: 0;
    flex: 1 1 auto;
    width: 100%;
}

.change-case .custom-form-control {
    text-align: center;
    width: 0px;
    max-width: 50px;
}

.simpan {
    position: absolute;
    right: 4vw; /* Mengubah persentase menjadi vw */
    top: 61vh; /* Mengubah persentase menjadi vh */
}

.simpan .save-button {
    background-color: #38b0ab;
    color: rgb(255, 255, 255);
    border-radius: 10%;
}

/* .simpan .save-button {
    background-color: green;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
} */

.dropdown-menu .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: normal;
}

.dropdown-menu .form-group button {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.dropdown-menu .form-group button span {
    margin-left: 10px;
}